table{
	border-collapse: collapse;
}
th{
	padding: 0;
	border: 1px solid #bdcce6;
	background-color: #dbe3fa;
}
td{
	padding: 0;
	border: 1px solid #bdcce6;
	text-align: center;
	height: 34px;
	font-size: 14px;
	color: #0a0a0a;
}
td img{
	vertical-align: middle;
}
table{
	border: 1px solid #bdcce6;

	
}
.riqi{
	width: 209px;
	height: 36px; 
}
.tianqi{
	width: 217px;
}
.qiwen{
	width: 114px;
}
.height{
	height: 4px;
}
