div{
	box-sizing: border-box;
}
.box{
	width: 800px;
	height: 500px;
	background:#ff80ab url(../../1030/img/22.png) no-repeat center 38px;
	padding: 110px 28px 0 28px;
}
.box .one{
	width: 733px;
	height: 365px;
	border:3px solid #e15671;
	background-color: #fff;
	padding: 27px 27px 27px 27px;
}
.box .two{
	width: 674px;
	height: 303px;
	border:3px solid #e15671;
	background-color: #fa837f;
	padding: 27px 27px 27px 27px;
}
.two .three{
	width: 612px;
	height: 244px;
	border:3px solid #fff;
	background-color: #855cf9;
	padding: 27px 27px 27px 27px;
}
.three .four{
	width: 554px;
	height: 184px;
	border:3px solid #fff;
	background-color: #40cde0;

}
.four .five{
	width: 500px;
	height: 130px;
	border-top: 20px solid #e15671;
	border-left: 20px solid #ea6382;
	border-bottom: 20px solid #ffadc8;
	border-right: 20px solid #ef7088;
	background-color: #ff80ab;
	margin: 27px;
}
