body{
	margin: 0;
}
h3{
	margin: 0;
}
a{
	text-decoration: none;
}
img{
	border:none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.big-box{
	width:1200px;
	height: 367px;
	background-color: #fff;
}
.box{
	width: 185px;
	height: 353px;
	border: 1px solid #e1e1e1;
	margin-right: -1px;
	padding-left: 14px;
	padding-top: 14px;
	float: left;
}
.box .top{
	width: 170px;
	height: 150px;
	background-color: #f5f5f5;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}
.top a{
	font-size: 12px;
	color: #000;

}
.box .bottom{
	width: 170px;
	height: 104px;
	margin-top: 13px;
	line-height: 20px;
	text-align: center;
}
.box .bottom a{
	font-size: 12px;
	color: #3c3c3c;
}
.bottom-left{
	width: 80px;
	height: 104px;
	float: left;
}
.bottom-right{
	width: 80px;
	height: 104px;
	float: right;
}
.box .bottom-top{
	width: 165px;
	height: 26px;
	text-align: center;

}
.box .bottom-top a{
	font-size: 12px;
	border-right: 1px solid #e1e1e1;
	line-height: 26px;
	color: #000;
	padding-right: 3px;
}
.box .bottom-bottom{
	width: 170px;
	height: 29px;
	text-align: center;
}
.box .bottom-bottom span{
	color: #e2e2e2;
}
.box .bottom-bottom a{
	font-size: 12px;
	line-height: 29px;
	color: #3c3c3c;
}
.box .box-img{
	margin-top: 12px;
}
