h4{
	margin: 0;
}
img{
	vertical-align: top;
	border: none;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.big-box{
	width: 737px;
	height: 498px;
}
.head{
	width: 701px;
	height: 48px;
	margin: 0 auto;
}
.head-left{
	width: 340px;
	height: 48px;
	float: left;
	background: url(../../1114/img/yl1.png) no-repeat;
}
.head-left h4{
	font-size: 16px;
	color: #000;
	margin-left: 50px;
	line-height: 48px;
	float: left;
}
.head-left img{
	padding-top: 10px;
	margin-left: 18px;
}
.head-right{
	width: 340px;
	height: 48px;
	float: right;
}
.head-right .head1{
	float: right;
}
.head-right a{
	font-size: 12px;
	color: #343436;
	line-height: 48px;
	
}
.head-right span{
	font-size: 12px;
	color: #e8e7e3;
	line-height: 48px;
	margin-left: 10px;
	margin-right: 10px;
}
.body{
	width: 701px;
	height: 450px;
	margin: 0 auto;
}
.body-left{
	width: 340px;
	height: 450px;
	float: left;
}
.body-left .left1{
	height: 285px;
	width: 340px;
	float: left;
	
}
.body-left .left1 a{
	font-size: 14px;
	color: #333;
	line-height: 20px;

}
.body-left .left1 span{
	display: inline-block;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.body-left .left1 img{
	margin-bottom: 5px;
}
 .left2{
	width: 160px;
	height: 150px;
	margin-top:15px;
	float: left;
}
 .left2 img{
	margin-bottom: 5px;
}
 .left2 a{
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
 .left3{
	background: url(../../1114/img/ylxb1.png)no-repeat 0 5px;
	float: left;
}
 .left3 a{
	margin-left: 16px;
	
}
.left4{
	background: url(../../1114/img/ylxb2.png)no-repeat 0 5px;
	float: left;
	margin-left: 50px;
}
.left4 a{
	margin-left: 16px;
	
}
.body-right{
	width: 340px;
	height: 450px;
	float: right;
}
.body-right .left2{
	float: left;
	margin-top: 0;
}
