h2{
	margin: 0;
	
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
h3{
	margin: 0;
}
.big-box{
	width: 991px;
	height: 385px;
	border: 1px solid #dfe6ee;
}
.left{
	width: 701px;
	height: 385px;
	float: left;
}
.left-header{
	width: 701px;
	height: 55px;
	background: url(../../1121/img/shenghuo.png)no-repeat;
}
.left-header h2{
	font-size: 24px;
	color: #000;
	line-height: 55px;
	margin-left: 50px;
	float: left;
	margin-right: 18px;
}
.left-header a{
	font-size: 12px;
	color: #333;
	display: inline-block;
	height: 35px;
	margin-top: 14px;
}
.header-left-text{
	word-spacing: 13px;
	float: left;
}
.header-left-text span{
	display:block;
	width: 50px;
	height: 6px;
	background: url(../../1121/img/shenghuo7.png) no-repeat 0 center;
}
.header-left-text .huo{
	background: url(../../1121/img/shenghuo3.png) no-repeat;
	padding-left: 18px;
	margin-left: 30px;
}
.left-header .dongtai{
	float: right;

}
.left-header .dongtai a{
	border: 1px solid #cdd0d7;
	width: 102px;
	height: 24px;line-height: 13px;
	background:#fff url(../../1121/img/shenghuo4.png) no-repeat 8px 5px;
	text-align: center;
	display: inline-block;
	line-height: 24px;
	padding-left: 6px;
}
.left-header .dongtai span{
	font-size: 14px;
	color: #565553;
	border: 1px solid #cdd0d7;
	width: 54px;
	height: 24px;
	display: inline-block;
	background-color: #fff;
	text-align: center;
	line-height: 24px;
}
.body-left {
	height: 330px;
	width: 701px;
}
.body-left .one{
	width: 161px;
	height: 163px;
	margin-bottom: 4px;
	float: left;
	margin-right:19px;
}
.body-left .one img{
	margin-bottom: 6px;
}
.body-left .one a{
	font-size: 12px;
	color: #212025;
	line-height: 23px;
}
.body-left .one .shuzi a{
	font-size: 12px;
	color: #97a4aa;
	margin-left: 15px;
	line-height: 23px;
}
.body-left .one .shuzi1{
	background: url(../../1121/img/shenghuo1.png)no-repeat 0 7px;
	float: left;
}
.body-left .one .shuzi2{
	background: url(../../1121/img/shenghuo2.png)no-repeat 0 7px;
	float: left;
	margin-left: 30px;
}



.right{
	width: 271px;
	height: 385px;
	float: right;
}
.big-box .right-header{
	width: 271px;
	height: 55px;
}
.right-header h2{
	font-size: 20px;
	line-height: 55px;
	color: 333;
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.right-header a{
	background: url(../../1121/img/shenghuo7.png)no-repeat 0 34px;
	line-height: 55px;
	display: inline-block;
	font-size: 14px;
	color: #00a2d7;
	float: left;
}
.right-header h3{
	display: inline-block;
	margin-left: 10px;
	float: left;
	padding-top: 17px;
}
.right-header .two{
	border: 1px solid #cdd0d7;
	width: 57px;
	height: 24px;
	background-color: #fff;
	float: right;
	margin-top: 10px;
}
.right-header .two a{
	background: url(../../1121/img/shenghuo8.png) no-repeat 20px 18px;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	width: 57px;
	height: 24px;
	line-height: 24px;
	color: #333;
}
.right-body{
	width: 271px;
	height: 68px;
	background: url(../../1115/img/1.png)no-repeat 0 2px;
	
}
.right-body img{
	margin-left: 20px;
	float: left;
	width:68px;
	height:54px;
}
.right-body a{
	display: inline-block;
	width: 175px;
	height: 38px;
	font-size: 12px;
	float:left;
	margin-left: 2px;
}
.right-body span{
	display: inline-block;
	font-size: 14px;
	color: #99a2ab;
	float: left;
	margin-left: 10px;
}
.right-body2{
	width: 272px;
	height: 261px;
	
}
.body2-two{
	width:272px;
	height: 33px;
	margin-bottom: 4px;
	background:url(../../1121/img/shenghuo22.png) no-repeat 0 8px;
}
.body2-two a{
	font-size: 14px;
	color: 212121;
	line-height: 33px;
	margin-left: 26px;
	color: #000;
}
.right-body2 .bottom{
	background: url(../../1121/img/shenghuo33.png)no-repeat 0 8px;
}
.right-body2 .four{
	background: url(../../1121/img/shenghuo44.png)no-repeat 0 8px;
}
.right-body2 .five{
	background: url(../../1121/img/shenghuo55.png)no-repeat 0 8px;
}
.right-body2 .six{
	background: url(../../1121/img/shenghuo66.png)no-repeat 0 8px;
}
.right-body2 .seven{
	background: url(../../1121/img/shenghuo77.png)no-repeat 0 8px;
}
.right .fot{
	width: 260px;
	height: 26px;
	border: 1px solid #dfe6ee;
	background-color: #e6e9f0;
	text-align: center;
}
.right .fot a{
	font-size: 16px;
	color: #333;
	line-height: 26px;
	
}
