<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>双向数据绑定</title>
	</head>
	<body>
		<div id="root">
			<div>
				<input type="text" v-model="name" />
				<span>你的名字是:{{name}}</span>
			</div>
			<div>
				<input type="text" v-model="age" />
				<!--v-show:隐藏一个元素,就是说要么就显示,要么就disply:none-->
				<!--<span v-show="age">你的年龄是:{{age}}</span>-->
				
				<!--v-if:就是直接删除掉-->
				<span v-if="age">你的年龄是:{{age}}</span>
			</div>
			
		</div>
		<script src="vue.js"></script>
		<script>
			var app = new Vue({
				el:'#root',
				data:{
					name:'A',
					age:''
				}
			})
		</script>
	</body>
</html>
